/*--GLOBAL---*/

:root {
	--accent-color: #bfb5af;
	--text-color: #070606;
	--bg-color: #fff;
	--odd-text-color: #fff;
	--odd-bg-color: #29339b;
	--standard-spacing: 100px;
	font-size: 6vw;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: "Karla";
	font-weight: 300;
	line-height: 1.5;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	position: relative;
	margin-bottom: calc(var(--standard-spacing) / 2);
	padding: var(--standard-spacing) 0;
	background: var(--odd-bg-color);
	color: var(--odd-text-color);	
}

.header::after {
	content: "";
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	display: block;
	height: calc(var(--standard-spacing) / 2);
	width: 100%;
	background: inherit;
	clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.header__title,
.header__subtitle {
	font-size: 1.5rem;
}

.header__title {
	margin-bottom: 1em;
}

.header__subtitle {
	margin-bottom: 2em;
}

.header__button {
	padding: .5rem 1.5rem;
	color: inherit;
	text-decoration: none;
	font-size: 1.2em;
	border: solid 2px white;
}

.header__button:hover {
	color: var(--accent-color);
	border: solid 2px var(--accent-color);
}

.about {
	padding: calc(var(--standard-spacing) / 2) 0;
}

.about__section {
	margin: calc(var(--standard-spacing) / 2) 0;
}

.about__title {
	display: inline-block;
	margin-bottom: 1em;
	border-bottom: 2px solid var(--accent-color);
	font-size: 1.5rem;
}

.list__item {
	margin-bottom: .5rem;
}

.contact {
	position: relative;
	margin-top: calc(var(--standard-spacing) / 2);
	padding: var(--standard-spacing) 0;
	background: var(--odd-bg-color);
	color: var(--odd-text-color);
}

.contact::after {
	content: "";
	position: absolute;
	top: calc(var(--standard-spacing) / 2 * -1 + 1px);
	left: 0;
	display: block;
	height: calc(var(--standard-spacing) / 2);
	width: 100%;
	background: inherit;
	clip-path: polygon(0 100%, 100% 100%, 0 0);
}

.contact__title {
	font-size: 1.5rem;
	margin-bottom: 1em;
}

.contact__text {
	font-size: 1.5rem;
}

.contact__link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid var(--accent-color);
	transition: ease-in-out, .5s;
}

.contact__link:hover {
	color: var(--accent-color);
}

@media (min-width: 768px) {
	:root {
		font-size: 24px;
	}

	.header {
		display: flex;
		align-items: center;
		height: 100vh;
		padding: 0;
	}

	.header__title {
		font-size: 2.5rem;
		margin-bottom: 0;
	}

	.contact {
		padding: calc(var(--standard-spacing) * 1.5) 0;
	}
}

@media (min-width: 1040px) {
	.about__section {
		width: calc(100% - 200px);
		margin: 100px 0;
	}

	.about__section:last-of-type {
		margin-left: 100px;
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: 30px;
	}
}
