:root {
	--accent-color: #bfb5af;
	--text-color: #132321;
	--bg-color: #fff;
	--odd-text-color: #fff;
	--odd-bg-color: #254441;
	--standard-spacing: 80px;
	font-size: 5vw;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
	font-family: "Karla", sans-serif;
	font-weight: 300;
	line-height: 1.5;
	-webkit-font-kerning: normal;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: 400;
}

.container {
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	position: relative;
	margin-bottom: calc(var(--standard-spacing) / 2);
	padding: var(--standard-spacing) 0;
	background: var(--odd-bg-color);
	color: var(--odd-text-color);	
}

.header::after {
	content: "";
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	display: block;
	height: calc(var(--standard-spacing) / 2);
	width: 100%;
	background: inherit;
	-webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
	        clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.header__title {
	margin-bottom: 1em;
	font-size: 1.777rem;
	font-weight: 400;
}

.header__subtitle {
	margin-bottom: 2em;
	font-size: 1.333rem;
}

.header__button {
	position: relative;
	z-index: 1;
	padding: .5rem;
	background: transparent;
	color: var(--odd-text-color);
	text-decoration: none;
	font-size: 1.333em;
	font-weight: 400;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.header__button::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 2px;
	background: currentColor;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.header__button:hover {
	color: var(--odd-bg-color);
}

.header__button:hover::before {
	height: 100%;
	background: var(--bg-color);
}

.about {
	padding: calc(var(--standard-spacing) / 2) 0;
}

.about__section {
	margin: calc(var(--standard-spacing) / 2) 0;
}

.about__title {
	display: inline-block;
	margin-bottom: 1em;
	font-size: 1.333rem;
	font-weight: 400;
}

.list__item {
	margin-bottom: .5rem;
}

.contact {
	position: relative;
	margin-top: calc(var(--standard-spacing) / 2);
	padding: var(--standard-spacing) 0;
	background: var(--odd-bg-color);
	color: var(--odd-text-color);
	font-weight: 400;
}

.contact::after {
	content: "";
	position: absolute;
	top: calc(var(--standard-spacing) / 2 * -1 + 1px);
	left: 0;
	display: block;
	height: calc(var(--standard-spacing) / 2);
	width: 100%;
	background: inherit;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 0 0);
	        clip-path: polygon(0 100%, 100% 100%, 0 0);
}

.contact__text {
	font-size: 1.333rem;
}

.contact__link {
	position: relative;
	z-index: 1;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	-webkit-transition: ease-in-out, .5s;
	-o-transition: ease-in-out, .5s;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.contact__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 2px;
	background: currentColor;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}

.contact__link:hover {
	color: var(--odd-bg-color);
}

.contact__link:hover::before {
	height: 100%;
	background: var(--bg-color);
}

@media (min-width: 768px) {
	:root {
		font-size: 24px;
	}

	.header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        -webkit-align-items: center;
		        align-items: center;
		height: 100vh;
		padding: 0;
	}

	.header__title {
		font-size: 2.369rem;
		margin-bottom: 0;
	}

	.contact {
		padding: calc(var(--standard-spacing) * 1.5) 0;
	}
}

@media (min-width: 1040px) {
	.about {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0 calc(var(--standard-spacing) * -1);
	}

	.about__section {
		width: 50%;
		padding: calc(var(--standard-spacing) * 1.5);
	}
}
