/*--GLOBAL---*/
body {
	width: 100%;
	font-family: "Work Sans";
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
}
.container {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.row {
	padding-bottom: 50px;
}
.main-color {
	background: #a1887f;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	border-bottom: 2px solid #FFFF8F;
	transition: ease-in-out, .5s;
}
a:hover {
	color: #FFFF8F;
}


/*--TYPO--*/
h1,
h2,
h3 {
	font-family: "Eczar";	
	letter-spacing: 1px;
}
h1 {
	font-size: 2.5em;
	
}
h2 {
	font-size: 1.8em;
	margin-bottom: 10vh;
}
h3 {
	font-size: 1.8em;
}
strong {
	font-weight: 400;
}


/*--HEADER--*/
header {
	height: 100vh;
	color: white;	
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	-webkit-clip-path: url("#header-clip-shape"); 
   	clip-path: url("#header-clip-shape");
}
#intro {
	position: absolute;
	top: 30vh;
	width: 100%;
}
#intro a.btn {
	text-decoration: none;
	font-size: 1.2em;
	padding: 10px 30px;
	border: solid 2px white;
}
#intro a.btn:hover {
	border: solid 2px #FFFF8F;
}
#color-buttons {
	position: absolute;
	top: 20px;
	right: 0;
}
#color-buttons button {
	border-radius: 0;
	padding: 10px;
	border: solid 2px transparent;
	outline: none;
	margin-left: 5px;
	cursor: pointer;
}
#color-buttons button#btn-hazelnut {
	background: #a1887f;
}
#color-buttons button#btn-olive {
	background: #536769;
}
#color-buttons button#btn-blue {
	background: #22264b;
}
#color-buttons button.selected {
	border-color: rgba(255, 255, 255, 0.3);
}


/*--ABOUT SECTION--*/
#about h3 {
	float: right;
	margin-top: 20px;
}
#about h4 {
	font-size: 1.2em;
	padding: 10px;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}
#about h4::after {
	content: "";
	position: absolute;
	left: 30%;
	bottom: 0;
	width: 40%;
	height: 2px;
	background-color: #FFFF6F; 
}
#about ul {
	padding: 10px 40px 40px;
	
}
#about ul li {
	padding: 10px;
	width: 100%;
}
#current {
	margin-bottom: 50px;
}
#current article {
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	border: #FFFF6F solid 2px;
}

/*FOOTER*/
footer {
	color: white;
	-webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
	-webkit-clip-path: url("#footer-clip-shape"); 
   	clip-path: url("#footer-clip-shape");
	position: relative;
	padding: 50px 0 20px;
}
footer h3,
footer p {
	float: left;
	padding-top: 40px;
}
#social-media {
	float: right;
	padding: 20px;
	margin-top: 100px;
}
#social-media a {
	border: none;
}
#social-media span.fa {
	font-size: 4.2em;
	display: inline-block;
	padding-left: 50px;
	cursor: pointer;
	transition: ease-in-out, .5s;
}
#social-media span.fa:hover {
	color: #FFFF8F;
}


/*--MEDIA QUERIES--*/
@media screen and (max-width: 920px) {
	#about ul {
		padding: 10px;
	}
	#social-media span.fa {
		font-size: 2.5em;
	}
}
@media screen and (min-width: 700px) and (max-width: 767px) {
	#social-media {
		margin-top: 50px;
	}
	#social-media span.fa {
		font-size: 4em;
	}
}
@media screen and (max-width: 700px) {
	h1 {
		line-height: 1;
		padding-bottom: 10px;
		font-weight: 300;
	}
	h2 {
		font-size: 1.4em;
	}
	#color-buttons button {
		padding: 15px;
		margin-left: 20px;
	}
	header #intro {
		position: absolute;
		top: 20vh;
		width: 100%;
	}
	h3 {
		font-size: 2em;
	}
	#about ul {
		padding: 10px 0;
	}
	#social-media {
		float: none;
		padding: 0;
		text-align: center;
		margin-top: 40px;
	}
	#social-media span.fa {
		font-size: 3.5em;
		display: inline-block;
		padding: 10px;
	}
}
@media screen and (max-width: 736px) and (orientation: landscape) {
	h1 {
		line-height: 1;
		padding: 60px 0 10px;
		font-weight: 300;
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	#intro a.btn {
		font-size: 1em;
	}
	header {
		height: 125vh;
	}
}
@media screen and (max-width: 360px) {
	header {
		height: 125vh;
	}
	#social-media span.fa {
		font-size: 3em;
	}
}
